#python缓存文件
__pycache__/
*.pyc
*.pyo 
*.pyd

#训练权重，日志（不要上传！）
runs/
logs/
ckpt/
checkpoints/
*.log 

#虚拟环境
.venv/
venv/
.env

#Mac系统垃圾文件
.DS_Store

#Jupyter缓存
*.ipynb_checkpointers

#数据集，禁止上传
dataset/
data/